POSTGRES_DB=pipeline_sentinel
POSTGRES_USER=pipeline_sentinel
POSTGRES_PASSWORD=pipeline_sentinel_demo
PIPELINE_SENTINEL_DB_URL=jdbc:postgresql://localhost:5433/pipeline_sentinel
PIPELINE_SENTINEL_DB_USERNAME=pipeline_sentinel
PIPELINE_SENTINEL_DB_PASSWORD=pipeline_sentinel_demo
PIPELINE_SENTINEL_CORS_ALLOWED_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8081
